<section>
  <!-- HENRIQUE E OTÁVIO -->
  <div class="first-div">
    <img src="../assets/logo.png" alt="">
    <header>
      <ul>
        <li>Início</li>
        <li>Serviços</li>
        <li>Quem Somos</li>
      </ul>
    </header>
    <h2>Analise o hoje e transforme o amanhã.</h2>
    <p>Proporcionando formas de otimizar processos e gerar</p>
    <p>melhores resultados para um futuro mais próspero e rentável.</p>
    <button>Agende uma conversa</button>
  </div>
  <div class="conheca-mogh">
    <div class="background-div">
      <p>CONHEÇA A MOGH</p>
      <div class="icons-div">
        <div>
           <img src="../assets/icons/icon.png" class="img">
           <img src="../assets/icons/icon-analise.png" class="img">
           <img src="../assets/icons/icon-melhoria.png" class="img">
        </div>
        <div>
          <div><p>Automatização de processos</p></div>
          <div><p>Melhoria Contínua</p></div>
          <div><p>Análise de Dados</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-empresa">
    <div>
      <img src="../assets/missao.png" alt="">
      <div>
        <h3 class="card-h3-text">Missão</h3>
        <div class="card-text">
          <p class="card-p-text">Capturando e interpretando dados em prol de um futuro rentável.</p>
          <p class="card-p-text"> A Mogh deseja interpretar a situação atual do seu processo produtivo, através de uma
            coletânea de dados
            buscando identificar gargalos. Proporcionando formas de otimizar processos e gerar melhores resultados para
            um futuro mais próspero e rentável.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="div-full-credibilidade">
    <div class="div-ia">
      <div class="title">
        <p class="border-b-2 border-b-orange h-[65%]">
        IA generativa aplicada à engenharia de dados
        </p>
      </div>
      <div class="text">
        <p>Combinamos IA generativa e análise de dados para facilitar o desenvolvimento com dados sintéticos,</p>
        <p>melhorar o aprendizado de máquina, acelerar relatórios e promover automações inteligentes.</p>
      </div>
    </div>
    <div class="div-grande-azul-fund">
      <div class="div-dados-empresa">
          <div>
              <p><span class="text-3xl mr-3">15+</span>anos de experiência </p><p>com Engenharia de Dados</p>
          </div>
          <div><p class="destaque">150+</p>
            empresas líderes atendidas</div>
          <div ><p class="destaque">900+</p>
            projetos entregues com excelência</div>
          <div><p class="destaque">10+</p>
            de atuação</div>
        </div>
    </div>
  </div>

  <div class="cards-empresa">
    <div>
      <div id="only-left-card">
        <h3 class="card-h3-text">Visão</h3>
        <div class="card-text mt-[5%]">
          <p class="card-p-text">Tornar-se referência de excelência na indústria, destacando-se pela expertise em
            análise de dados aplicada à melhoria contínua nos processos industriais dos nossos clientes.</p>
          <p class="card-p-text">Buscamos constantemente oportunidades de crescimento sustentável, parcerias
            estratégicas e aprimoramento constante de nossas capacidades analíticas para sustentar nossa posição de
            liderança no mercado.</p>
        </div>
      </div>
      <img src="../assets/visao.png" alt="">
    </div>
  </div>

  <div class="processos">
    <div class="grid-processos">
      <div class="processos-card-produtivo">
        <div class="processo-especifico produtivo">
          <h5>Processos Produtivos</h5>
          <p>Projetos que estudam tempo de produção, custo e melhoria.</p>
          <a>Contate Agora</a>
        </div>
      </div>
      <div class="processos-card-logistico">
        <div class="processo-especifico logistico">
          <h5>Processos Logísticos</h5>
          <p>Projetos que analisam tempo e seções de logística, aprimorando 
            transportes e distribuições de produtos.</p>
          <a>Contate Agora</a>
        </div>
      </div>
    </div>

  </div>


  <div class="cards-empresa">
    <div>
      <img src="../assets/valores.png" alt="">
      <div>
        <h3 class="card-h3-text">Valores</h3>
        <div class="card-text">
          <p class="card-p-text">Fidelidade com Clientes; Metas Tangíveis; Melhoria Contínua; Análises Reais; Gestão
            Inteligente; Liderança e Inovação;</p>
        </div>
      </div>
    </div>
  </div>

  <!-- GORGES -->
  <div></div>
  <div></div>

  <!-- BECKER -->
  <footer></footer>
</section>