<section>
  <!-- GORGES -->
  <header></header>

  <!-- HENRIQUE E OTÁVIO -->
  <div></div>
  <div class="w-screen h-full flex justify-center">
    <div class="background-div">
      <p>CONHEÇA A MOGH</p>
      <div class="icons-div">
        <div>
           <img src="../assets/icons/icon.png" class="img">
           <p>Automatização de processos</p>
        </div>
        <div>
          <img src="../assets/icons/icon-analise.png" class="img">
          <p>Análise de Dados</p>
        </div>
        <div>
          <img src="../assets/icons/icon-melhoria.png" class="img">
          <p>Melhoria Contínua</p>
        </div>
      </div>
    </div>
  </div>
  <div></div>
  <div class="div-full-credibilidade">
    <div class="div-ia">
      <p class="title">
        IA generativa aplicada à engenharia de dados
      </p>
      <p class="text">
        Combinamos IA generativa e análise de dados para facilitar o desenvolvimento com dados sintéticos, 
        melhorar o aprendizado de máquina, acelerar relatórios e promover automações inteligentes.
      </p>
    </div>
    <div class="div-dados-empresa">

    </div>
  </div>
  <div></div>
  <div></div>
  <div></div>

  <!-- GORGES -->
  <div></div>
  <div></div>

  <!-- BECKER -->
  <footer></footer>
</section>