

section{
    @apply w-screen h-screen flex-col bg-back;
}

//HEADER
header{
    @apply absolute w-full h-[10%];
}
header > ul{
    @apply flex w-[100%] justify-end h-full;

}
header > ul > li{
    @apply flex w-[10%] h-full items-center justify-center text-primary;
}

// FIRST DIV
.first-div{
    @apply flex w-full h-full items-center flex-col;
    background-image: url(../assets/background.png);
}
.first-div > img {
    @apply flex w-[20%] mt-[3%] h-auto;
}
.first-div > h2{
    @apply text-3xl text-primary mb-[3%];
}
.first-div > p{
    @apply text-xl text-primary;
}

.first-div > button{
    @apply flex mt-[5%] w-[10%] h-[5%] items-center justify-center text-back bg-orange rounded-md;

}
//


// CARDS MISSÃO...
.cards-empresa{
    @apply flex w-full h-full items-center flex-col text-back justify-center bg-back;
}
.cards-empresa > :first-child{
    @apply grid grid-cols-2 gap-4 w-[80%] h-1/2 bg-primary rounded-md;
    overflow: hidden;
}
.cards-empresa > img {
    @apply flex w-full h-full;
}
.card-h3-text {
    @apply text-3xl w-[15%] border-b-2 border-orange mt-[5%];
}
.card-p-text{
    @apply text-xl w-full;
    font-family: "Inter", sans-serif;
}
.card-text{
    @apply flex h-[50%] w-[70%] flex-col justify-around;
}
#only-left-card{
    @apply flex h-full w-full ml-[5%] flex-col;
}


//PROCESSOS
.processos{
    @apply flex w-full h-1/2 items-center justify-center bg-back;
}
.grid-processos{
    @apply grid w-[80%] h-[70%] grid-cols-2;
}
.processos-card-produtivo{
    @apply flex justify-start;
}
.processo-especifico{
    @apply flex h-full w-5/6 flex-col text-back justify-evenly pl-10;
    box-shadow: 15px 15px #E38E29;
}
.processo-especifico > h5{
    @apply text-2xl;
}
.processo-especifico > p{
    @apply text-xl;
}
.processo-especifico > a{
    @apply border-orange border-b-2 w-[20%];
}
.produtivo{
    background-image: url(../assets/produtivos.png);
}
.logistico{
    background-image: url(../assets/logisticos.png);
}
.processos-card-logistico{
    @apply flex w-full h-full justify-end;
}

//HENRIQUE

.conheca-mogh{
    @apply flex w-full h-1/3 justify-center items-center bg-back;
}

.background-div{
    @apply absolute flex-col w-[75%] h-[45%] bg-white rounded text-primary font-semibold;
}
.background-div > p{
    @apply flex w-full justify-center text-xl mt-5;
}

.icons-div{
    @apply flex w-full h-[90%] flex-col justify-center;
}
.icons-div > div {
    @apply flex w-full h-full flex-row items-center justify-evenly ; 
}
.icons-div > div >div {
    @apply flex w-1/6 h-[50%] flex-col items-center justify-center;
}
.img{
    @apply flex w-1/6 h-auto;
}

.div-full-credibilidade{
    @apply h-[45%] w-full flex justify-center bg-back;
}

.div-grande-azul-fund{
    @apply w-full h-[70%];
    align-self: flex-end;
     @apply bg-lightBlue
     flex items-end;
   

}
.div-ia{
    @apply w-[60%] h-[25%]
   bg-primary
    absolute
   text-back
    flex flex-col items-center;
}

.title{
    @apply flex w-full h-[50%]  text-5xl justify-center items-center;
}

.text{
    @apply flex w-full h-[50%] text-center flex-col text-xl;
}

.div-dados-empresa{
    @apply
    w-full h-[64%]
    flex 
    justify-evenly
    items-center text-2xl;
}

.destaque{
    @apply text-3xl mr-3 flex justify-center;
}





.beneficios {
    @apply w-full h-4/5 bg-back flex items-center flex-col;
}


.beneficios-div {
    @apply w-4/5 h-1/3 flex flex-col justify-center items-center;
}

.infoBox {
    @apply w-4/5 h-3/5 bg-primary p-5 flex justify-center items-center rounded-sm;
}

.infoText {
    @apply text-[#fff] text-4xl text-center;
}

.contentBox {
    @apply w-4/5 h-full flex justify-center items-center;
}

.contentText {
    @apply text-3xl text-center;
}

.benefitsBox {
    @apply w-4/5 h-full flex justify-between items-center;
}

.box {
    @apply  w-[30%] h-4/6 bg-primary rounded grid row-span-2;
    box-shadow: 15px 15px #E38E29;
}

.boxText {
    @apply text-back text-2xl text-center;
}


//RELATOS
.relatos {
    @apply w-full h-full bg-back flex items-center flex-col pt-24;
}

.titleRelatos {
    @apply text-4xl text-primary pb-6 mb-16 border-b-4 border-orange
}

.mainBox {
    @apply grid grid-cols-3 w-full h-4/5 mt-10 justify-center
}

.boxRelatos {
    @apply flex flex-col items-center h-full w-full
}

.imgPerson {
    @apply w-[60%] h-[50%]
}

.boxTexto {
    @apply h-[26%] w-[75%] bg-primary mt-10 flex flex-col items-center justify-center p-12;
    box-shadow: 15px 15px #E38E29;
}

.beneficios-texto {
    @apply text-back text-xl font-thin text-center
}

.nota {
    @apply text-back text-2xl mr-3
}

.star {
    @apply h-[80%] w-auto
}



.footer {
    @apply w-full bg-primary h-full flex justify-center items-center flex-col gap-8 ;
}

.form {
    @apply w-[30%] h-[55%] grid grid-cols-4 grid-rows-6 gap-5;
}

.inputForm {
    @apply bg-transparent text-white border-b-2 border-orange outline-none pl-2 rounded-sm;
}

.inputForm:focus {
    @apply bg-[#11111152];
}

#buttonForm {
    @apply bg-white text-primary rounded-sm;
}

#buttonForm:hover {
    @apply bg-[#ffffffc0]
}

#textForm {
    @apply text-white text-center text-4xl break-words;
}

.iconsFooter {
    @apply w-2/3 h-[23%] border-t-2 flex justify-center items-center gap-10;
}

.logoFooter {
    @apply w-1/3 h-1/4 
}