<section>
  <!-- GORGES -->
  <header></header>

  <!-- HENRIQUE E OTÁVIO -->
  <div class="first-div">
    <img src="../assets/logo.png" alt="">
    <h2>Analise o hoje e transforme o amanhã.</h2>
    <p>Proporcionando formas de otimizar processos e gerar</p>
    <p>melhores resultados para um futuro mais próspero e rentável.</p>
     
     <button>Agende uma conversa</button>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>

  <!-- GORGES -->
  <div></div>
  <div></div>

  <!-- BECKER -->
  <footer></footer>
</section>